ScreenSolutionConvert/.idea/compiler.xml
ScreenSolutionConvert/.idea/encodings.xml
ScreenSolutionConvert/.idea/gradle.xml
ScreenSolutionConvert/.idea/inspectionProfiles/profiles_settings.xml
ScreenSolutionConvert/.idea/inspectionProfiles/Project_Default.xml
ScreenSolutionConvert/.idea/misc.xml
ScreenSolutionConvert/.idea/modules.xml
ScreenSolutionConvert/.idea/runConfigurations.xml
ScreenResolutionConvert/.idea/dictionaries/leo.xml
ScreenResolutionConvert/.idea/misc.xml
ScreenResolutionConvert/.idea/modules.xml
ScreenResolutionConvert/.idea/misc.xml
ScreenResolutionConvert/.idea/runConfigurations.xml
